/* Variables */
$red-primary: #EC2227;
$black-primary: #000000;
$white-primary: #FFFFFF;
$black-text: #4a4a4a;
$gray: #BFBFBF;
$gray-cascade: #95A5A6;
$gray-border: #E9EDEF;
$gray-background: #E1E5EC;
$blue-dark: #121a22;